<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/admin_panel/home" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">ADMIN PANEL</span><p>beta</p>
                </a>
                <p><%= current_user.email %></p>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="display: contents;">
                    <li class="nav-item">
                        <a href="/admin_panel/" class="nav-link align-middle px-0">
                            <span class="ms-1 d-none d-sm-inline">Главная</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin_panel/messages" class="nav-link align-middle px-0">
                            <span class="ms-1 d-none d-sm-inline">Сообщения(<%= FormMessage.where(checked: false).count %>)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin_panel/posts_base" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Все посты</span></a>
                    </li>
                    <ul>
                        <li class="w-100">
                            <a href="/admin_panel/new_post" class="nav-link px-0">  <span class="d-none d-sm-inline">∟ Добавить пост</span> </a>
                        </li>
                    </ul>
                    <li>
                        <a href="/admin_panel/posts?lang=ru" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Валидные посты RU</span></a>
                    </li>
                    <li>
                        <a href="/admin_panel/posts?lang=pl" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Валидные посты PL</span></a>
                    </li>
                    <li>
                        <a href="/admin_panel/posts?lang=en" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Валидные посты EN</span></a>
                    </li>
                    <li>
                        <a href="/admin_panel/portfolio" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                             <span class="ms-1 d-none d-sm-inline">Портфолио</span> </a>
                    </li>
                    <li>
                        <a href="/admin_panel/logout" class="nav-link px-0 align-middle">
                            </i> <span class="ms-1 d-none d-sm-inline">Выйти из уч. записи</span> </a>
                    </li>
                    <li>
                        <a href="#" class="sp_notify_prompt">
                            </i> <span class="ms-1 d-none d-sm-inline">Включить push уведомления</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
