<%= render "admin_panel/sidebar" %>
<div class="col py-3">
    <%
        case params[:lang]
        when "ru"
            concat render template: "pages/blog_langs/ru"
        when "pl"
            concat render template: "pages/blog_langs/pl"
        when "en"
            concat render template: "pages/blog_langs/en"
        end
    %>
</div>
</div>
</div>