	<div class="wrapper">
		<main class="main">
			<div class="blog">
				<div class="container">
				<% @posts.each do |post| %>
				  <% if check_valid_post_for_lang(post.text_en, post.post_intro, post.name_en) %>
					<div class="blog__row">
						<div class="blog__label"></div>
								<div class="blog__el">
								<a class="blog__el-label"><h2><%= post.name_en %></h2></a>
									<div class="blog__el-pic">
									<%	
										if post.post_intro.url
										  concat image_tag(post.post_intro.url)
										end
									%>
									</div>
									<div class="blog__body">
										<div class="blog__el-content">
											<%= sanitize post.text_en %>
										</div>
									</div>
								</div>
					</div>
					  <% end %>
					<% end %>
				</div>
			</div>
		</main>
	</div>
	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
