	<div class="wrapper">
		<main class="main">
			<div class="breadcrumb">
				<div class="container">
					<div class="breadcrumb__row">
						<div class="breadcrumb__body">
							<a href="/?lang=ru">Главная</a> &#187; Блог
						</div>
					</div>
				</div>
			</div>
			<div class="blog">
				<div class="container">
					<div class="blog__row">
						<div class="blog__label text-center"></div>
							<% @posts.each do |post| %>
								<div class="blog__el">
								<a class="blog__el-label"><h2><%= post.name_ru %></h2></a>
									<div class="blog__el-pic">
										<%= image_tag(post.post_intro.url) %>
									</div>
									<div class="blog__body">
										<div class="blog__el-content">
											<%= sanitize post.text_ru %>
										</div>
									</div>
								</div>
							<% end %>
			
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		var strGET = window.location.search.replace( '?', ''); 

		if(strGET != ""){
			if(window.location.href.indexOf('&reloaded') === -1) window.location.href = window.location.href + "&reloaded=true";
		};
	</script>
